@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Bayon&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Azeret Mono', monospace;
}

p{
  font-size: 2rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* scrolling animation */

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.scrolling-wrapper {
  display: inline-flex;
  white-space: nowrap;
}

.scrolling {
  display: flex;
  animation: scroll var(--animation-duration) linear infinite;
}


/* scrolling gradient */
.marquee-text {
  background: linear-gradient(90deg, #B882FE, #000000, #B882FE);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  background-size: 200% 100%;
  animation: gradient 10s linear infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: -200% center;
  }
}